<div style="float:left;"><h1>动态新闻</h1></div>
<div id="newshead"><%= link_to '更多', news_index_path %></div>
<div id="news">
	<ul>
		<%= render(@news)%>
 	</ul>
</div>
<div id="special-box-left">
	<h1>作业</h1>
	
</div>
<div id="special-box-right">
	<h1>实习</h1>
	
</div>
